/**
 * @name Gogh - Zenburn
 * @author Gogh
 * @version 1.0.0
 * @description Gogh "Zenburn" terminal color scheme applied to BetterDiscord.
 * @source https://github.com/Gogh-Co/Gogh
 */
/* PALETTE */
:root, .theme-dark, .theme-light, .theme-darker, .theme-midnight {
  --gogh-bg: #3F3F3F;
  --gogh-fg: #DCDCCC;
  --gogh-accent: #60B48A;
  --gogh-red: #705050;
  --gogh-green: #60B48A;
  --gogh-yellow: #F0DFAF;
  --gogh-blue: #506070;
  --gogh-magenta: #DC8CC3;
  --gogh-cyan: #8CD0D3;
  /* BACKGROUNDS */
  --background-primary: #3F3F3F;
  --background-secondary: #3c3c3c;
  --background-secondary-alt: #3a3a3a;
  --background-tertiary: #363636;
  --background-floating: #4b4b4b;
  --background-mobile-primary: #3F3F3F;
  --background-mobile-secondary: #3c3c3c;
  --channeltextarea-background: #3c3c3c;
  --background-message-hover: #484847;
  --background-modifier-hover: #484847;
  --background-modifier-active: #4f4f4d;
  --background-modifier-selected: #525250;
  --background-modifier-accent: #575754;
  --scrollbar-thin-thumb: #363636;
  --scrollbar-auto-thumb: #363636;
  --scrollbar-auto-track: #3c3c3c;
  /* TEXT */
  --text-normal: #DCDCCC;
  --text-muted: #9d9d94;
  --text-link: #60B48A;
  --text-brand: #60B48A;
  --header-primary: #DCDCCC;
  --header-secondary: #9d9d94;
  --interactive-normal: #9d9d94;
  --interactive-hover: #DCDCCC;
  --interactive-active: #DCDCCC;
  --interactive-muted: #86867e;
  /* BRAND / ACCENT */
  --brand-experiment: #60B48A;
  --brand-experiment-500: #60B48A;
  --brand-experiment-560: #488768;
  --brand-experiment-600: #488768;
  --brand-500: #60B48A;
  --brand-560: #488768;
  --brand-600: #488768;
  /* STATUS */
  --online-color: #60B48A;
  --idle-color: #F0DFAF;
  --dnd-color: #705050;
  --streaming-color: #DC8CC3;
  --status-green: #60B48A;
  --status-yellow: #F0DFAF;
  --status-red: #705050;
  --status-purple: #DC8CC3;
}