/**
 * @name Gogh - Noctis Bordo
 * @author Liviu Schera (https://github.com/liviuschera)
 * @version 1.0.0
 * @description Gogh "Noctis Bordo" terminal color scheme applied to BetterDiscord.
 * @source https://github.com/Gogh-Co/Gogh
 */
/* PALETTE */
:root, .theme-dark, .theme-light, .theme-darker, .theme-midnight {
  --gogh-bg: #322A2D;
  --gogh-fg: #CBBEC2;
  --gogh-accent: #E66533;
  --gogh-red: #E66533;
  --gogh-green: #49E9A6;
  --gogh-yellow: #E4B781;
  --gogh-blue: #49ACE9;
  --gogh-magenta: #DF769B;
  --gogh-cyan: #49D6E9;
  /* BACKGROUNDS */
  --background-primary: #322A2D;
  --background-secondary: #30282b;
  --background-secondary-alt: #2e2729;
  --background-tertiary: #2b2427;
  --background-floating: #3e373a;
  --background-mobile-primary: #322A2D;
  --background-mobile-secondary: #30282b;
  --channeltextarea-background: #30282b;
  --background-message-hover: #3b3336;
  --background-modifier-hover: #3b3336;
  --background-modifier-active: #41393c;
  --background-modifier-selected: #443c3f;
  --background-modifier-accent: #494043;
  --scrollbar-thin-thumb: #2b2427;
  --scrollbar-auto-thumb: #2b2427;
  --scrollbar-auto-track: #30282b;
  /* TEXT */
  --text-normal: #CBBEC2;
  --text-muted: #8e8386;
  --text-link: #E66533;
  --text-brand: #E66533;
  --header-primary: #CBBEC2;
  --header-secondary: #8e8386;
  --interactive-normal: #8e8386;
  --interactive-hover: #CBBEC2;
  --interactive-active: #CBBEC2;
  --interactive-muted: #776d70;
  /* BRAND / ACCENT */
  --brand-experiment: #E66533;
  --brand-experiment-500: #E66533;
  --brand-experiment-560: #ac4c26;
  --brand-experiment-600: #ac4c26;
  --brand-500: #E66533;
  --brand-560: #ac4c26;
  --brand-600: #ac4c26;
  /* STATUS */
  --online-color: #49E9A6;
  --idle-color: #E4B781;
  --dnd-color: #E66533;
  --streaming-color: #DF769B;
  --status-green: #49E9A6;
  --status-yellow: #E4B781;
  --status-red: #E66533;
  --status-purple: #DF769B;
}