/**
 * @name Gogh - Spiderman
 * @author pyrophos (https://github.com/pyrophos)
 * @version 1.0.0
 * @description Gogh "Spiderman" terminal color scheme applied to BetterDiscord.
 * @source https://github.com/Gogh-Co/Gogh
 */
/* PALETTE */
:root, .theme-dark, .theme-light, .theme-darker, .theme-midnight {
  --gogh-bg: #1B1D1E;
  --gogh-fg: #E3E3E3;
  --gogh-accent: #E60813;
  --gogh-red: #E60813;
  --gogh-green: #E22928;
  --gogh-yellow: #E24756;
  --gogh-blue: #2C3FFF;
  --gogh-magenta: #2435DB;
  --gogh-cyan: #3256FF;
  /* BACKGROUNDS */
  --background-primary: #1B1D1E;
  --background-secondary: #1a1c1d;
  --background-secondary-alt: #191b1c;
  --background-tertiary: #17191a;
  --background-floating: #292b2c;
  --background-mobile-primary: #1B1D1E;
  --background-mobile-secondary: #1a1c1d;
  --channeltextarea-background: #1a1c1d;
  --background-message-hover: #27292a;
  --background-modifier-hover: #27292a;
  --background-modifier-active: #2f3132;
  --background-modifier-selected: #333536;
  --background-modifier-accent: #393b3c;
  --scrollbar-thin-thumb: #17191a;
  --scrollbar-auto-thumb: #17191a;
  --scrollbar-auto-track: #1a1c1d;
  /* TEXT */
  --text-normal: #E3E3E3;
  --text-muted: #939494;
  --text-link: #E60813;
  --text-brand: #E60813;
  --header-primary: #E3E3E3;
  --header-secondary: #939494;
  --interactive-normal: #939494;
  --interactive-hover: #E3E3E3;
  --interactive-active: #E3E3E3;
  --interactive-muted: #757677;
  /* BRAND / ACCENT */
  --brand-experiment: #E60813;
  --brand-experiment-500: #E60813;
  --brand-experiment-560: #ac060e;
  --brand-experiment-600: #ac060e;
  --brand-500: #E60813;
  --brand-560: #ac060e;
  --brand-600: #ac060e;
  /* STATUS */
  --online-color: #E22928;
  --idle-color: #E24756;
  --dnd-color: #E60813;
  --streaming-color: #2435DB;
  --status-green: #E22928;
  --status-yellow: #E24756;
  --status-red: #E60813;
  --status-purple: #2435DB;
}