/**
 * @name Gogh - Batman
 * @author pyrophos (https://github.com/pyrophos)
 * @version 1.0.0
 * @description Gogh "Batman" terminal color scheme applied to BetterDiscord.
 * @source https://github.com/Gogh-Co/Gogh
 */
/* PALETTE */
:root, .theme-dark, .theme-light, .theme-darker, .theme-midnight {
  --gogh-bg: #1B1D1E;
  --gogh-fg: #6F6F6F;
  --gogh-accent: #F4FD22;
  --gogh-red: #E6DC44;
  --gogh-green: #C8BE46;
  --gogh-yellow: #F4FD22;
  --gogh-blue: #737174;
  --gogh-magenta: #747271;
  --gogh-cyan: #62605F;
  /* BACKGROUNDS */
  --background-primary: #1B1D1E;
  --background-secondary: #1a1c1d;
  --background-secondary-alt: #191b1c;
  --background-tertiary: #17191a;
  --background-floating: #292b2c;
  --background-mobile-primary: #1B1D1E;
  --background-mobile-secondary: #1a1c1d;
  --channeltextarea-background: #1a1c1d;
  --background-message-hover: #202223;
  --background-modifier-hover: #202223;
  --background-modifier-active: #232526;
  --background-modifier-selected: #252728;
  --background-modifier-accent: #28292a;
  --scrollbar-thin-thumb: #17191a;
  --scrollbar-auto-thumb: #17191a;
  --scrollbar-auto-track: #1a1c1d;
  /* TEXT */
  --text-normal: #6F6F6F;
  --text-muted: #4d4e4f;
  --text-link: #F4FD22;
  --text-brand: #F4FD22;
  --header-primary: #6F6F6F;
  --header-secondary: #4d4e4f;
  --interactive-normal: #4d4e4f;
  --interactive-hover: #6F6F6F;
  --interactive-active: #6F6F6F;
  --interactive-muted: #414242;
  /* BRAND / ACCENT */
  --brand-experiment: #F4FD22;
  --brand-experiment-500: #F4FD22;
  --brand-experiment-560: #b7be1a;
  --brand-experiment-600: #b7be1a;
  --brand-500: #F4FD22;
  --brand-560: #b7be1a;
  --brand-600: #b7be1a;
  /* STATUS */
  --online-color: #C8BE46;
  --idle-color: #F4FD22;
  --dnd-color: #E6DC44;
  --streaming-color: #747271;
  --status-green: #C8BE46;
  --status-yellow: #F4FD22;
  --status-red: #E6DC44;
  --status-purple: #747271;
}