/**
 * @name Gogh - Synth Wave84 Python
 * @author Dio Lin (Dionysus326)
 * @version 1.0.0
 * @description Gogh "Synth Wave84 Python" terminal color scheme applied to BetterDiscord.
 * @source https://github.com/Gogh-Co/Gogh
 */
/* PALETTE */
:root, .theme-dark, .theme-light, .theme-darker, .theme-midnight {
  --gogh-bg: #100A24;
  --gogh-fg: #FFADE8;
  --gogh-accent: #B30065;
  --gogh-red: #FF2331;
  --gogh-green: #37F39E;
  --gogh-yellow: #FFD83D;
  --gogh-blue: #03EDF9;
  --gogh-magenta: #B30065;
  --gogh-cyan: #03EDF9;
  /* BACKGROUNDS */
  --background-primary: #100A24;
  --background-secondary: #0f0a23;
  --background-secondary-alt: #0f0921;
  --background-tertiary: #0e091f;
  --background-floating: #1e1931;
  --background-mobile-primary: #100A24;
  --background-mobile-secondary: #0f0a23;
  --channeltextarea-background: #0f0a23;
  --background-message-hover: #1e1430;
  --background-modifier-hover: #1e1430;
  --background-modifier-active: #281a38;
  --background-modifier-selected: #2d1e3c;
  --background-modifier-accent: #342241;
  --scrollbar-thin-thumb: #0e091f;
  --scrollbar-auto-thumb: #0e091f;
  --scrollbar-auto-track: #0f0a23;
  /* TEXT */
  --text-normal: #FFADE8;
  --text-muted: #9f6c9a;
  --text-link: #B30065;
  --text-brand: #B30065;
  --header-primary: #FFADE8;
  --header-secondary: #9f6c9a;
  --interactive-normal: #9f6c9a;
  --interactive-hover: #FFADE8;
  --interactive-active: #FFADE8;
  --interactive-muted: #7c537c;
  /* BRAND / ACCENT */
  --brand-experiment: #B30065;
  --brand-experiment-500: #B30065;
  --brand-experiment-560: #86004c;
  --brand-experiment-600: #86004c;
  --brand-500: #B30065;
  --brand-560: #86004c;
  --brand-600: #86004c;
  /* STATUS */
  --online-color: #37F39E;
  --idle-color: #FFD83D;
  --dnd-color: #FF2331;
  --streaming-color: #B30065;
  --status-green: #37F39E;
  --status-yellow: #FFD83D;
  --status-red: #FF2331;
  --status-purple: #B30065;
}