/**
 * @name Gogh - Eris
 * @author ed, Tinted Theming (https://codeberg.org/ed)
 * @version 1.0.0
 * @description Gogh "Eris" terminal color scheme applied to BetterDiscord.
 * @source https://github.com/Gogh-Co/Gogh
 */
/* PALETTE */
:root, .theme-dark, .theme-light, .theme-darker, .theme-midnight {
  --gogh-bg: #0A0920;
  --gogh-fg: #606BAC;
  --gogh-accent: #258FC4;
  --gogh-red: #F768A3;
  --gogh-green: #A2FAA8;
  --gogh-yellow: #F7D668;
  --gogh-blue: #258FC4;
  --gogh-magenta: #C368F7;
  --gogh-cyan: #A2FAF0;
  /* BACKGROUNDS */
  --background-primary: #0A0920;
  --background-secondary: #0a091f;
  --background-secondary-alt: #09081d;
  --background-tertiary: #09081c;
  --background-floating: #19182d;
  --background-mobile-primary: #0A0920;
  --background-mobile-secondary: #0a091f;
  --channeltextarea-background: #0a091f;
  --background-message-hover: #0f0f28;
  --background-modifier-hover: #0f0f28;
  --background-modifier-active: #13132e;
  --background-modifier-selected: #141531;
  --background-modifier-accent: #171835;
  --scrollbar-thin-thumb: #09081c;
  --scrollbar-auto-thumb: #09081c;
  --scrollbar-auto-track: #0a091f;
  /* TEXT */
  --text-normal: #606BAC;
  --text-muted: #3e4474;
  --text-link: #258FC4;
  --text-brand: #258FC4;
  --header-primary: #606BAC;
  --header-secondary: #3e4474;
  --interactive-normal: #3e4474;
  --interactive-hover: #606BAC;
  --interactive-active: #606BAC;
  --interactive-muted: #31355f;
  /* BRAND / ACCENT */
  --brand-experiment: #258FC4;
  --brand-experiment-500: #258FC4;
  --brand-experiment-560: #1c6b93;
  --brand-experiment-600: #1c6b93;
  --brand-500: #258FC4;
  --brand-560: #1c6b93;
  --brand-600: #1c6b93;
  /* STATUS */
  --online-color: #A2FAA8;
  --idle-color: #F7D668;
  --dnd-color: #F768A3;
  --streaming-color: #C368F7;
  --status-green: #A2FAA8;
  --status-yellow: #F7D668;
  --status-red: #F768A3;
  --status-purple: #C368F7;
}