/**
 * @name Gogh - Atelier Savanna
 * @author Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/savanna)
 * @version 1.0.0
 * @description Gogh "Atelier Savanna" terminal color scheme applied to BetterDiscord.
 * @source https://github.com/Gogh-Co/Gogh
 */
/* PALETTE */
:root, .theme-dark, .theme-light, .theme-darker, .theme-midnight {
  --gogh-bg: #171C19;
  --gogh-fg: #78877D;
  --gogh-accent: #1C9AA0;
  --gogh-red: #B16139;
  --gogh-green: #489963;
  --gogh-yellow: #A07E3B;
  --gogh-blue: #478C90;
  --gogh-magenta: #55859B;
  --gogh-cyan: #1C9AA0;
  /* BACKGROUNDS */
  --background-primary: #171C19;
  --background-secondary: #161b18;
  --background-secondary-alt: #151a17;
  --background-tertiary: #141816;
  --background-floating: #252a27;
  --background-mobile-primary: #171C19;
  --background-mobile-secondary: #161b18;
  --channeltextarea-background: #161b18;
  --background-message-hover: #1d221f;
  --background-modifier-hover: #1d221f;
  --background-modifier-active: #212723;
  --background-modifier-selected: #232925;
  --background-modifier-accent: #262c28;
  --scrollbar-thin-thumb: #141816;
  --scrollbar-auto-thumb: #141816;
  --scrollbar-auto-track: #161b18;
  /* TEXT */
  --text-normal: #78877D;
  --text-muted: #515c55;
  --text-link: #1C9AA0;
  --text-brand: #1C9AA0;
  --header-primary: #78877D;
  --header-secondary: #515c55;
  --interactive-normal: #515c55;
  --interactive-hover: #78877D;
  --interactive-active: #78877D;
  --interactive-muted: #434c46;
  /* BRAND / ACCENT */
  --brand-experiment: #1C9AA0;
  --brand-experiment-500: #1C9AA0;
  --brand-experiment-560: #157478;
  --brand-experiment-600: #157478;
  --brand-500: #1C9AA0;
  --brand-560: #157478;
  --brand-600: #157478;
  /* STATUS */
  --online-color: #489963;
  --idle-color: #A07E3B;
  --dnd-color: #B16139;
  --streaming-color: #55859B;
  --status-green: #489963;
  --status-yellow: #A07E3B;
  --status-red: #B16139;
  --status-purple: #55859B;
}