/**
 * @name Gogh - Night Lion V1
 * @author Curvve Media (http://www.curvve.com/blog/category/themes/)
 * @version 1.0.0
 * @description Gogh "Night Lion V1" terminal color scheme applied to BetterDiscord.
 * @source https://github.com/Gogh-Co/Gogh
 */
/* PALETTE */
:root, .theme-dark, .theme-light, .theme-darker, .theme-midnight {
  --gogh-bg: #000000;
  --gogh-fg: #BBBBBB;
  --gogh-accent: #BB0000;
  --gogh-red: #BB0000;
  --gogh-green: #5FDE8F;
  --gogh-yellow: #F3F167;
  --gogh-blue: #276BD8;
  --gogh-magenta: #BB00BB;
  --gogh-cyan: #00DADF;
  /* BACKGROUNDS */
  --background-primary: #000000;
  --background-secondary: #000000;
  --background-secondary-alt: #000000;
  --background-tertiary: #000000;
  --background-floating: #0f0f0f;
  --background-mobile-primary: #000000;
  --background-mobile-secondary: #000000;
  --channeltextarea-background: #000000;
  --background-message-hover: #0b0b0b;
  --background-modifier-hover: #0b0b0b;
  --background-modifier-active: #131313;
  --background-modifier-selected: #161616;
  --background-modifier-accent: #1c1c1c;
  --scrollbar-thin-thumb: #000000;
  --scrollbar-auto-thumb: #000000;
  --scrollbar-auto-track: #000000;
  /* TEXT */
  --text-normal: #BBBBBB;
  --text-muted: #707070;
  --text-link: #BB0000;
  --text-brand: #BB0000;
  --header-primary: #BBBBBB;
  --header-secondary: #707070;
  --interactive-normal: #707070;
  --interactive-hover: #BBBBBB;
  --interactive-active: #BBBBBB;
  --interactive-muted: #545454;
  /* BRAND / ACCENT */
  --brand-experiment: #BB0000;
  --brand-experiment-500: #BB0000;
  --brand-experiment-560: #8c0000;
  --brand-experiment-600: #8c0000;
  --brand-500: #BB0000;
  --brand-560: #8c0000;
  --brand-600: #8c0000;
  /* STATUS */
  --online-color: #5FDE8F;
  --idle-color: #F3F167;
  --dnd-color: #BB0000;
  --streaming-color: #BB00BB;
  --status-green: #5FDE8F;
  --status-yellow: #F3F167;
  --status-red: #BB0000;
  --status-purple: #BB00BB;
}