/**
 * @name Gogh - Vaughn
 * @author Gogh
 * @version 1.0.0
 * @description Gogh "Vaughn" terminal color scheme applied to BetterDiscord.
 * @source https://github.com/Gogh-Co/Gogh
 */
/* PALETTE */
:root, .theme-dark, .theme-light, .theme-darker, .theme-midnight {
  --gogh-bg: #25234F;
  --gogh-fg: #DCDCCC;
  --gogh-accent: #5555FF;
  --gogh-red: #705050;
  --gogh-green: #60B48A;
  --gogh-yellow: #DFAF8F;
  --gogh-blue: #5555FF;
  --gogh-magenta: #F08CC3;
  --gogh-cyan: #8CD0D3;
  /* BACKGROUNDS */
  --background-primary: #25234F;
  --background-secondary: #24224c;
  --background-secondary-alt: #222049;
  --background-tertiary: #201e44;
  --background-floating: #32305a;
  --background-mobile-primary: #25234F;
  --background-mobile-secondary: #24224c;
  --channeltextarea-background: #24224c;
  --background-message-hover: #302e56;
  --background-modifier-hover: #302e56;
  --background-modifier-active: #37365c;
  --background-modifier-selected: #3b395e;
  --background-modifier-accent: #403f62;
  --scrollbar-thin-thumb: #201e44;
  --scrollbar-auto-thumb: #201e44;
  --scrollbar-auto-track: #24224c;
  /* TEXT */
  --text-normal: #DCDCCC;
  --text-muted: #93929a;
  --text-link: #5555FF;
  --text-brand: #5555FF;
  --header-primary: #DCDCCC;
  --header-secondary: #93929a;
  --interactive-normal: #93929a;
  --interactive-hover: #DCDCCC;
  --interactive-active: #DCDCCC;
  --interactive-muted: #777687;
  /* BRAND / ACCENT */
  --brand-experiment: #5555FF;
  --brand-experiment-500: #5555FF;
  --brand-experiment-560: #4040bf;
  --brand-experiment-600: #4040bf;
  --brand-500: #5555FF;
  --brand-560: #4040bf;
  --brand-600: #4040bf;
  /* STATUS */
  --online-color: #60B48A;
  --idle-color: #DFAF8F;
  --dnd-color: #705050;
  --streaming-color: #F08CC3;
  --status-green: #60B48A;
  --status-yellow: #DFAF8F;
  --status-red: #705050;
  --status-purple: #F08CC3;
}