/**
 * @name Gogh - Noctis Azureus
 * @author Liviu Schera (https://github.com/liviuschera)
 * @version 1.0.0
 * @description Gogh "Noctis Azureus" terminal color scheme applied to BetterDiscord.
 * @source https://github.com/Gogh-Co/Gogh
 */
/* PALETTE */
:root, .theme-dark, .theme-light, .theme-darker, .theme-midnight {
  --gogh-bg: #07273B;
  --gogh-fg: #BECFDA;
  --gogh-accent: #E66533;
  --gogh-red: #E66533;
  --gogh-green: #49E9A6;
  --gogh-yellow: #E4B781;
  --gogh-blue: #49ACE9;
  --gogh-magenta: #DF769B;
  --gogh-cyan: #49D6E9;
  /* BACKGROUNDS */
  --background-primary: #07273B;
  --background-secondary: #072539;
  --background-secondary-alt: #062436;
  --background-tertiary: #062233;
  --background-floating: #163447;
  --background-mobile-primary: #07273B;
  --background-mobile-secondary: #072539;
  --channeltextarea-background: #072539;
  --background-message-hover: #123145;
  --background-modifier-hover: #123145;
  --background-modifier-active: #19384b;
  --background-modifier-selected: #1d3b4e;
  --background-modifier-accent: #224053;
  --scrollbar-thin-thumb: #062233;
  --scrollbar-auto-thumb: #062233;
  --scrollbar-auto-track: #072539;
  /* TEXT */
  --text-normal: #BECFDA;
  --text-muted: #758c9a;
  --text-link: #E66533;
  --text-brand: #E66533;
  --header-primary: #BECFDA;
  --header-secondary: #758c9a;
  --interactive-normal: #758c9a;
  --interactive-hover: #BECFDA;
  --interactive-active: #BECFDA;
  --interactive-muted: #597383;
  /* BRAND / ACCENT */
  --brand-experiment: #E66533;
  --brand-experiment-500: #E66533;
  --brand-experiment-560: #ac4c26;
  --brand-experiment-600: #ac4c26;
  --brand-500: #E66533;
  --brand-560: #ac4c26;
  --brand-600: #ac4c26;
  /* STATUS */
  --online-color: #49E9A6;
  --idle-color: #E4B781;
  --dnd-color: #E66533;
  --streaming-color: #DF769B;
  --status-green: #49E9A6;
  --status-yellow: #E4B781;
  --status-red: #E66533;
  --status-purple: #DF769B;
}