/**
 * @name Gogh - Jup
 * @author Gogh
 * @version 1.0.0
 * @description Gogh "Jup" terminal color scheme applied to BetterDiscord.
 * @source https://github.com/Gogh-Co/Gogh
 */
/* PALETTE */
:root, .theme-dark, .theme-light, .theme-darker, .theme-midnight {
  --gogh-bg: #758480;
  --gogh-fg: #23476A;
  --gogh-accent: #DD006F;
  --gogh-red: #DD006F;
  --gogh-green: #6FDD00;
  --gogh-yellow: #DD6F00;
  --gogh-blue: #006FDD;
  --gogh-magenta: #6F00DD;
  --gogh-cyan: #00DD6F;
  /* BACKGROUNDS */
  --background-primary: #758480;
  --background-secondary: #707f7b;
  --background-secondary-alt: #6c7976;
  --background-tertiary: #65726e;
  --background-floating: #7d8b88;
  --background-mobile-primary: #758480;
  --background-mobile-secondary: #707f7b;
  --channeltextarea-background: #707f7b;
  --background-message-hover: #70807f;
  --background-modifier-hover: #70807f;
  --background-modifier-active: #6d7e7e;
  --background-modifier-selected: #6b7d7d;
  --background-modifier-accent: #697b7d;
  --scrollbar-thin-thumb: #65726e;
  --scrollbar-auto-thumb: #65726e;
  --scrollbar-auto-track: #707f7b;
  /* TEXT */
  --text-normal: #23476A;
  --text-muted: #445f73;
  --text-link: #DD006F;
  --text-brand: #DD006F;
  --header-primary: #23476A;
  --header-secondary: #445f73;
  --interactive-normal: #445f73;
  --interactive-hover: #23476A;
  --interactive-active: #23476A;
  --interactive-muted: #506976;
  /* BRAND / ACCENT */
  --brand-experiment: #DD006F;
  --brand-experiment-500: #DD006F;
  --brand-experiment-560: #a60053;
  --brand-experiment-600: #a60053;
  --brand-500: #DD006F;
  --brand-560: #a60053;
  --brand-600: #a60053;
  /* STATUS */
  --online-color: #6FDD00;
  --idle-color: #DD6F00;
  --dnd-color: #DD006F;
  --streaming-color: #6F00DD;
  --status-green: #6FDD00;
  --status-yellow: #DD6F00;
  --status-red: #DD006F;
  --status-purple: #6F00DD;
}