/**
 * @name Gogh - Pastelon De Amarillos Dark
 * @author Richard Martinez (https://sonofmartinus.com)
 * @version 1.0.0
 * @description Gogh "Pastelon De Amarillos Dark" terminal color scheme applied to BetterDiscord.
 * @source https://github.com/Gogh-Co/Gogh
 */
/* PALETTE */
:root, .theme-dark, .theme-light, .theme-darker, .theme-midnight {
  --gogh-bg: #180D18;
  --gogh-fg: #FFE0A3;
  --gogh-accent: #D8A93A;
  --gogh-red: #D95361;
  --gogh-green: #36AA72;
  --gogh-yellow: #D8A93A;
  --gogh-blue: #4C84BD;
  --gogh-magenta: #B765B0;
  --gogh-cyan: #31A99E;
  /* BACKGROUNDS */
  --background-primary: #180D18;
  --background-secondary: #170c17;
  --background-secondary-alt: #160c16;
  --background-tertiary: #150b15;
  --background-floating: #261c26;
  --background-mobile-primary: #180D18;
  --background-mobile-secondary: #170c17;
  --channeltextarea-background: #170c17;
  --background-message-hover: #261a20;
  --background-modifier-hover: #261a20;
  --background-modifier-active: #2f2226;
  --background-modifier-selected: #342629;
  --background-modifier-accent: #3b2d2d;
  --scrollbar-thin-thumb: #150b15;
  --scrollbar-auto-thumb: #150b15;
  --scrollbar-auto-track: #170c17;
  /* TEXT */
  --text-normal: #FFE0A3;
  --text-muted: #a38c6b;
  --text-link: #D8A93A;
  --text-brand: #D8A93A;
  --header-primary: #FFE0A3;
  --header-secondary: #a38c6b;
  --interactive-normal: #a38c6b;
  --interactive-hover: #FFE0A3;
  --interactive-active: #FFE0A3;
  --interactive-muted: #806c57;
  /* BRAND / ACCENT */
  --brand-experiment: #D8A93A;
  --brand-experiment-500: #D8A93A;
  --brand-experiment-560: #a27f2c;
  --brand-experiment-600: #a27f2c;
  --brand-500: #D8A93A;
  --brand-560: #a27f2c;
  --brand-600: #a27f2c;
  /* STATUS */
  --online-color: #36AA72;
  --idle-color: #D8A93A;
  --dnd-color: #D95361;
  --streaming-color: #B765B0;
  --status-green: #36AA72;
  --status-yellow: #D8A93A;
  --status-red: #D95361;
  --status-purple: #B765B0;
}