/**
 * @name Gogh - Gruvbox Material Dark Soft
 * @author Mayush Kumar, sainnhe (https://github.com/MayushKumar)
 * @version 1.0.0
 * @description Gogh "Gruvbox Material Dark Soft" terminal color scheme applied to BetterDiscord.
 * @source https://github.com/Gogh-Co/Gogh
 */
/* PALETTE */
:root, .theme-dark, .theme-light, .theme-darker, .theme-midnight {
  --gogh-bg: #32302F;
  --gogh-fg: #DDC7A1;
  --gogh-accent: #D8A657;
  --gogh-red: #EA6962;
  --gogh-green: #A9B665;
  --gogh-yellow: #D8A657;
  --gogh-blue: #7DAEA3;
  --gogh-magenta: #D3869B;
  --gogh-cyan: #89B482;
  /* BACKGROUNDS */
  --background-primary: #32302F;
  --background-secondary: #302e2d;
  --background-secondary-alt: #2e2c2b;
  --background-tertiary: #2b2928;
  --background-floating: #3e3c3b;
  --background-mobile-primary: #32302F;
  --background-mobile-secondary: #302e2d;
  --channeltextarea-background: #302e2d;
  --background-message-hover: #3c3936;
  --background-modifier-hover: #3c3936;
  --background-modifier-active: #433f3a;
  --background-modifier-selected: #47423d;
  --background-modifier-accent: #4c4740;
  --scrollbar-thin-thumb: #2b2928;
  --scrollbar-auto-thumb: #2b2928;
  --scrollbar-auto-track: #302e2d;
  /* TEXT */
  --text-normal: #DDC7A1;
  --text-muted: #998b73;
  --text-link: #D8A657;
  --text-brand: #D8A657;
  --header-primary: #DDC7A1;
  --header-secondary: #998b73;
  --interactive-normal: #998b73;
  --interactive-hover: #DDC7A1;
  --interactive-active: #DDC7A1;
  --interactive-muted: #7f7462;
  /* BRAND / ACCENT */
  --brand-experiment: #D8A657;
  --brand-experiment-500: #D8A657;
  --brand-experiment-560: #a27c41;
  --brand-experiment-600: #a27c41;
  --brand-500: #D8A657;
  --brand-560: #a27c41;
  --brand-600: #a27c41;
  /* STATUS */
  --online-color: #A9B665;
  --idle-color: #D8A657;
  --dnd-color: #EA6962;
  --streaming-color: #D3869B;
  --status-green: #A9B665;
  --status-yellow: #D8A657;
  --status-red: #EA6962;
  --status-purple: #D3869B;
}