/**
 * @name Gogh - Ollie
 * @author zdj (https://github.com/zdj/themes/tree/master/iterm2)
 * @version 1.0.0
 * @description Gogh "Ollie" terminal color scheme applied to BetterDiscord.
 * @source https://github.com/Gogh-Co/Gogh
 */
/* PALETTE */
:root, .theme-dark, .theme-light, .theme-darker, .theme-midnight {
  --gogh-bg: #222125;
  --gogh-fg: #8A8DAE;
  --gogh-accent: #AC4300;
  --gogh-red: #AC2E31;
  --gogh-green: #31AC61;
  --gogh-yellow: #AC4300;
  --gogh-blue: #2D57AC;
  --gogh-magenta: #B08528;
  --gogh-cyan: #1FA6AC;
  /* BACKGROUNDS */
  --background-primary: #222125;
  --background-secondary: #212024;
  --background-secondary-alt: #1f1e22;
  --background-tertiary: #1d1c20;
  --background-floating: #2f2e32;
  --background-mobile-primary: #222125;
  --background-mobile-secondary: #212024;
  --channeltextarea-background: #212024;
  --background-message-hover: #28272d;
  --background-modifier-hover: #28272d;
  --background-modifier-active: #2c2c33;
  --background-modifier-selected: #2e2e35;
  --background-modifier-accent: #32313a;
  --scrollbar-thin-thumb: #1d1c20;
  --scrollbar-auto-thumb: #1d1c20;
  --scrollbar-auto-track: #212024;
  /* TEXT */
  --text-normal: #8A8DAE;
  --text-muted: #606277;
  --text-link: #AC4300;
  --text-brand: #AC4300;
  --header-primary: #8A8DAE;
  --header-secondary: #606277;
  --interactive-normal: #606277;
  --interactive-hover: #8A8DAE;
  --interactive-active: #8A8DAE;
  --interactive-muted: #515263;
  /* BRAND / ACCENT */
  --brand-experiment: #AC4300;
  --brand-experiment-500: #AC4300;
  --brand-experiment-560: #813200;
  --brand-experiment-600: #813200;
  --brand-500: #AC4300;
  --brand-560: #813200;
  --brand-600: #813200;
  /* STATUS */
  --online-color: #31AC61;
  --idle-color: #AC4300;
  --dnd-color: #AC2E31;
  --streaming-color: #B08528;
  --status-green: #31AC61;
  --status-yellow: #AC4300;
  --status-red: #AC2E31;
  --status-purple: #B08528;
}