/**
 * @name Gogh - Base2Tone Heath
 * @author Gogh
 * @version 1.0.0
 * @description Gogh "Base2Tone Heath" terminal color scheme applied to BetterDiscord.
 * @source https://github.com/Gogh-Co/Gogh
 */
/* PALETTE */
:root, .theme-dark, .theme-light, .theme-darker, .theme-midnight {
  --gogh-bg: #222022;
  --gogh-fg: #9E999F;
  --gogh-accent: #CC8C33;
  --gogh-red: #8F6C93;
  --gogh-green: #CC8C33;
  --gogh-yellow: #FFD599;
  --gogh-blue: #9A819C;
  --gogh-magenta: #CC8C33;
  --gogh-cyan: #CB79D2;
  /* BACKGROUNDS */
  --background-primary: #222022;
  --background-secondary: #211f21;
  --background-secondary-alt: #1f1d1f;
  --background-tertiary: #1d1c1d;
  --background-floating: #2f2d2f;
  --background-mobile-primary: #222022;
  --background-mobile-secondary: #211f21;
  --channeltextarea-background: #211f21;
  --background-message-hover: #29272a;
  --background-modifier-hover: #29272a;
  --background-modifier-active: #2e2c2e;
  --background-modifier-selected: #312f31;
  --background-modifier-accent: #353235;
  --scrollbar-thin-thumb: #1d1c1d;
  --scrollbar-auto-thumb: #1d1c1d;
  --scrollbar-auto-track: #211f21;
  /* TEXT */
  --text-normal: #9E999F;
  --text-muted: #6c696d;
  --text-link: #CC8C33;
  --text-brand: #CC8C33;
  --header-primary: #9E999F;
  --header-secondary: #6c696d;
  --interactive-normal: #6c696d;
  --interactive-hover: #9E999F;
  --interactive-active: #9E999F;
  --interactive-muted: #5a565a;
  /* BRAND / ACCENT */
  --brand-experiment: #CC8C33;
  --brand-experiment-500: #CC8C33;
  --brand-experiment-560: #996926;
  --brand-experiment-600: #996926;
  --brand-500: #CC8C33;
  --brand-560: #996926;
  --brand-600: #996926;
  /* STATUS */
  --online-color: #CC8C33;
  --idle-color: #FFD599;
  --dnd-color: #8F6C93;
  --streaming-color: #CC8C33;
  --status-green: #CC8C33;
  --status-yellow: #FFD599;
  --status-red: #8F6C93;
  --status-purple: #CC8C33;
}