/**
 * @name Gogh - Base2Tone Lavender
 * @author Gogh
 * @version 1.0.0
 * @description Gogh "Base2Tone Lavender" terminal color scheme applied to BetterDiscord.
 * @source https://github.com/Gogh-Co/Gogh
 */
/* PALETTE */
:root, .theme-dark, .theme-light, .theme-darker, .theme-midnight {
  --gogh-bg: #201D2A;
  --gogh-fg: #9992B0;
  --gogh-accent: #9375F5;
  --gogh-red: #9375F5;
  --gogh-green: #D294FF;
  --gogh-yellow: #ECD1FF;
  --gogh-blue: #A286FD;
  --gogh-magenta: #D294FF;
  --gogh-cyan: #B5A0FE;
  /* BACKGROUNDS */
  --background-primary: #201D2A;
  --background-secondary: #1f1c28;
  --background-secondary-alt: #1d1b27;
  --background-tertiary: #1c1924;
  --background-floating: #2d2b37;
  --background-mobile-primary: #201D2A;
  --background-mobile-secondary: #1f1c28;
  --channeltextarea-background: #1f1c28;
  --background-message-hover: #272432;
  --background-modifier-hover: #272432;
  --background-modifier-active: #2c2937;
  --background-modifier-selected: #2f2b3a;
  --background-modifier-accent: #322f3e;
  --scrollbar-thin-thumb: #1c1924;
  --scrollbar-auto-thumb: #1c1924;
  --scrollbar-auto-track: #1f1c28;
  /* TEXT */
  --text-normal: #9992B0;
  --text-muted: #69637a;
  --text-link: #9375F5;
  --text-brand: #9375F5;
  --header-primary: #9992B0;
  --header-secondary: #69637a;
  --interactive-normal: #69637a;
  --interactive-hover: #9992B0;
  --interactive-active: #9992B0;
  --interactive-muted: #565266;
  /* BRAND / ACCENT */
  --brand-experiment: #9375F5;
  --brand-experiment-500: #9375F5;
  --brand-experiment-560: #6e58b8;
  --brand-experiment-600: #6e58b8;
  --brand-500: #9375F5;
  --brand-560: #6e58b8;
  --brand-600: #6e58b8;
  /* STATUS */
  --online-color: #D294FF;
  --idle-color: #ECD1FF;
  --dnd-color: #9375F5;
  --streaming-color: #D294FF;
  --status-green: #D294FF;
  --status-yellow: #ECD1FF;
  --status-red: #9375F5;
  --status-purple: #D294FF;
}