/**
 * @name Gogh - Kayla Cinnamon On Msbuild
 * @author Gogh
 * @version 1.0.0
 * @description Gogh "Kayla Cinnamon On Msbuild" terminal color scheme applied to BetterDiscord.
 * @source https://github.com/Gogh-Co/Gogh
 */
/* PALETTE */
:root, .theme-dark, .theme-light, .theme-darker, .theme-midnight {
  --gogh-bg: #492D7C;
  --gogh-fg: #F1F1F1;
  --gogh-accent: #C19C00;
  --gogh-red: #C50F1F;
  --gogh-green: #13A10E;
  --gogh-yellow: #C19C00;
  --gogh-blue: #0037DA;
  --gogh-magenta: #881798;
  --gogh-cyan: #3A96DD;
  /* BACKGROUNDS */
  --background-primary: #492D7C;
  --background-secondary: #462b77;
  --background-secondary-alt: #432972;
  --background-tertiary: #3f276b;
  --background-floating: #543a84;
  --background-mobile-primary: #492D7C;
  --background-mobile-secondary: #462b77;
  --channeltextarea-background: #462b77;
  --background-message-hover: #533983;
  --background-modifier-hover: #533983;
  --background-modifier-active: #5a4188;
  --background-modifier-selected: #5d458a;
  --background-modifier-accent: #624a8e;
  --scrollbar-thin-thumb: #3f276b;
  --scrollbar-auto-thumb: #3f276b;
  --scrollbar-auto-track: #462b77;
  /* TEXT */
  --text-normal: #F1F1F1;
  --text-muted: #aea3c2;
  --text-link: #C19C00;
  --text-brand: #C19C00;
  --header-primary: #F1F1F1;
  --header-secondary: #aea3c2;
  --interactive-normal: #aea3c2;
  --interactive-hover: #F1F1F1;
  --interactive-active: #F1F1F1;
  --interactive-muted: #9585b1;
  /* BRAND / ACCENT */
  --brand-experiment: #C19C00;
  --brand-experiment-500: #C19C00;
  --brand-experiment-560: #917500;
  --brand-experiment-600: #917500;
  --brand-500: #C19C00;
  --brand-560: #917500;
  --brand-600: #917500;
  /* STATUS */
  --online-color: #13A10E;
  --idle-color: #C19C00;
  --dnd-color: #C50F1F;
  --streaming-color: #881798;
  --status-green: #13A10E;
  --status-yellow: #C19C00;
  --status-red: #C50F1F;
  --status-purple: #881798;
}