/**
 * @name Gogh - Material Palenight
 * @author Nate Peterson
 * @version 1.0.0
 * @description Gogh "Material Palenight" terminal color scheme applied to BetterDiscord.
 * @source https://github.com/Gogh-Co/Gogh
 */
/* PALETTE */
:root, .theme-dark, .theme-light, .theme-darker, .theme-midnight {
  --gogh-bg: #292D3E;
  --gogh-fg: #A6ACCD;
  --gogh-accent: #FF5370;
  --gogh-red: #FF5370;
  --gogh-green: #C3E88D;
  --gogh-yellow: #FFCB6B;
  --gogh-blue: #82AAFF;
  --gogh-magenta: #C792EA;
  --gogh-cyan: #89DDFF;
  /* BACKGROUNDS */
  --background-primary: #292D3E;
  --background-secondary: #272b3c;
  --background-secondary-alt: #262939;
  --background-tertiary: #232735;
  --background-floating: #363a4a;
  --background-mobile-primary: #292D3E;
  --background-mobile-secondary: #272b3c;
  --channeltextarea-background: #272b3c;
  --background-message-hover: #303547;
  --background-modifier-hover: #303547;
  --background-modifier-active: #363a4c;
  --background-modifier-selected: #383c4f;
  --background-modifier-accent: #3c4053;
  --scrollbar-thin-thumb: #232735;
  --scrollbar-auto-thumb: #232735;
  --scrollbar-auto-track: #272b3c;
  /* TEXT */
  --text-normal: #A6ACCD;
  --text-muted: #747994;
  --text-link: #FF5370;
  --text-brand: #FF5370;
  --header-primary: #A6ACCD;
  --header-secondary: #747994;
  --interactive-normal: #747994;
  --interactive-hover: #A6ACCD;
  --interactive-active: #A6ACCD;
  --interactive-muted: #61667e;
  /* BRAND / ACCENT */
  --brand-experiment: #FF5370;
  --brand-experiment-500: #FF5370;
  --brand-experiment-560: #bf3e54;
  --brand-experiment-600: #bf3e54;
  --brand-500: #FF5370;
  --brand-560: #bf3e54;
  --brand-600: #bf3e54;
  /* STATUS */
  --online-color: #C3E88D;
  --idle-color: #FFCB6B;
  --dnd-color: #FF5370;
  --streaming-color: #C792EA;
  --status-green: #C3E88D;
  --status-yellow: #FFCB6B;
  --status-red: #FF5370;
  --status-purple: #C792EA;
}