/**
 * @name Gogh - Terafox
 * @author EdenEast (https://github.com/edeneast/nightfox.nvim)
 * @version 1.0.0
 * @description Gogh "Terafox" terminal color scheme applied to BetterDiscord.
 * @source https://github.com/Gogh-Co/Gogh
 */
/* PALETTE */
:root, .theme-dark, .theme-light, .theme-darker, .theme-midnight {
  --gogh-bg: #152528;
  --gogh-fg: #E6EAEA;
  --gogh-accent: #E85C51;
  --gogh-red: #E85C51;
  --gogh-green: #7AA4A1;
  --gogh-yellow: #FDA47F;
  --gogh-blue: #5A93AA;
  --gogh-magenta: #AD5C7C;
  --gogh-cyan: #A1CDD8;
  /* BACKGROUNDS */
  --background-primary: #152528;
  --background-secondary: #142426;
  --background-secondary-alt: #132225;
  --background-tertiary: #122022;
  --background-floating: #233235;
  --background-mobile-primary: #152528;
  --background-mobile-secondary: #142426;
  --channeltextarea-background: #142426;
  --background-message-hover: #223134;
  --background-modifier-hover: #223134;
  --background-modifier-active: #2a393b;
  --background-modifier-selected: #2e3d3f;
  --background-modifier-accent: #344345;
  --scrollbar-thin-thumb: #122022;
  --scrollbar-auto-thumb: #122022;
  --scrollbar-auto-track: #142426;
  /* TEXT */
  --text-normal: #E6EAEA;
  --text-muted: #929b9c;
  --text-link: #E85C51;
  --text-brand: #E85C51;
  --header-primary: #E6EAEA;
  --header-secondary: #929b9c;
  --interactive-normal: #929b9c;
  --interactive-hover: #E6EAEA;
  --interactive-active: #E6EAEA;
  --interactive-muted: #737e7f;
  /* BRAND / ACCENT */
  --brand-experiment: #E85C51;
  --brand-experiment-500: #E85C51;
  --brand-experiment-560: #ae453d;
  --brand-experiment-600: #ae453d;
  --brand-500: #E85C51;
  --brand-560: #ae453d;
  --brand-600: #ae453d;
  /* STATUS */
  --online-color: #7AA4A1;
  --idle-color: #FDA47F;
  --dnd-color: #E85C51;
  --streaming-color: #AD5C7C;
  --status-green: #7AA4A1;
  --status-yellow: #FDA47F;
  --status-red: #E85C51;
  --status-purple: #AD5C7C;
}