/**
 * @name Gogh - HaX0R Blue
 * @author Pratik (https://github.com/pratikmullick)
 * @version 1.0.0
 * @description Gogh "HaX0R Blue" terminal color scheme applied to BetterDiscord.
 * @source https://github.com/Gogh-Co/Gogh
 */
/* PALETTE */
:root, .theme-dark, .theme-light, .theme-darker, .theme-midnight {
  --gogh-bg: #010515;
  --gogh-fg: #11B7FF;
  --gogh-accent: #10B6FF;
  --gogh-red: #10B6FF;
  --gogh-green: #10B6FF;
  --gogh-yellow: #10B6FF;
  --gogh-blue: #10B6FF;
  --gogh-magenta: #10B6FF;
  --gogh-cyan: #10B6FF;
  /* BACKGROUNDS */
  --background-primary: #010515;
  --background-secondary: #010514;
  --background-secondary-alt: #010513;
  --background-tertiary: #010412;
  --background-floating: #101423;
  --background-mobile-primary: #010515;
  --background-mobile-secondary: #010514;
  --channeltextarea-background: #010514;
  --background-message-hover: #021023;
  --background-modifier-hover: #021023;
  --background-modifier-active: #03172c;
  --background-modifier-selected: #031a31;
  --background-modifier-accent: #032038;
  --scrollbar-thin-thumb: #010412;
  --scrollbar-auto-thumb: #010412;
  --scrollbar-auto-track: #010514;
  /* TEXT */
  --text-normal: #11B7FF;
  --text-muted: #0b70a1;
  --text-link: #10B6FF;
  --text-brand: #10B6FF;
  --header-primary: #11B7FF;
  --header-secondary: #0b70a1;
  --interactive-normal: #0b70a1;
  --interactive-hover: #11B7FF;
  --interactive-active: #11B7FF;
  --interactive-muted: #08557e;
  /* BRAND / ACCENT */
  --brand-experiment: #10B6FF;
  --brand-experiment-500: #10B6FF;
  --brand-experiment-560: #0c88bf;
  --brand-experiment-600: #0c88bf;
  --brand-500: #10B6FF;
  --brand-560: #0c88bf;
  --brand-600: #0c88bf;
  /* STATUS */
  --online-color: #10B6FF;
  --idle-color: #10B6FF;
  --dnd-color: #10B6FF;
  --streaming-color: #10B6FF;
  --status-green: #10B6FF;
  --status-yellow: #10B6FF;
  --status-red: #10B6FF;
  --status-purple: #10B6FF;
}