/**
 * @name Gogh - Ibm3270
 * @author Gogh
 * @version 1.0.0
 * @description Gogh "Ibm3270" terminal color scheme applied to BetterDiscord.
 * @source https://github.com/Gogh-Co/Gogh
 */
/* PALETTE */
:root, .theme-dark, .theme-light, .theme-darker, .theme-midnight {
  --gogh-bg: #000000;
  --gogh-fg: #FDFDFD;
  --gogh-accent: #F01818;
  --gogh-red: #F01818;
  --gogh-green: #24D830;
  --gogh-yellow: #F0D824;
  --gogh-blue: #7890F0;
  --gogh-magenta: #F078D8;
  --gogh-cyan: #54E4E4;
  /* BACKGROUNDS */
  --background-primary: #000000;
  --background-secondary: #000000;
  --background-secondary-alt: #000000;
  --background-tertiary: #000000;
  --background-floating: #0f0f0f;
  --background-mobile-primary: #000000;
  --background-mobile-secondary: #000000;
  --channeltextarea-background: #000000;
  --background-message-hover: #0f0f0f;
  --background-modifier-hover: #0f0f0f;
  --background-modifier-active: #191919;
  --background-modifier-selected: #1e1e1e;
  --background-modifier-accent: #262626;
  --scrollbar-thin-thumb: #000000;
  --scrollbar-auto-thumb: #000000;
  --scrollbar-auto-track: #000000;
  /* TEXT */
  --text-normal: #FDFDFD;
  --text-muted: #989898;
  --text-link: #F01818;
  --text-brand: #F01818;
  --header-primary: #FDFDFD;
  --header-secondary: #989898;
  --interactive-normal: #989898;
  --interactive-hover: #FDFDFD;
  --interactive-active: #FDFDFD;
  --interactive-muted: #727272;
  /* BRAND / ACCENT */
  --brand-experiment: #F01818;
  --brand-experiment-500: #F01818;
  --brand-experiment-560: #b41212;
  --brand-experiment-600: #b41212;
  --brand-500: #F01818;
  --brand-560: #b41212;
  --brand-600: #b41212;
  /* STATUS */
  --online-color: #24D830;
  --idle-color: #F0D824;
  --dnd-color: #F01818;
  --streaming-color: #F078D8;
  --status-green: #24D830;
  --status-yellow: #F0D824;
  --status-red: #F01818;
  --status-purple: #F078D8;
}