/**
 * @name Gogh - Sundried
 * @author zdj (https://github.com/zdj/themes/tree/master/iterm2)
 * @version 1.0.0
 * @description Gogh "Sundried" terminal color scheme applied to BetterDiscord.
 * @source https://github.com/Gogh-Co/Gogh
 */
/* PALETTE */
:root, .theme-dark, .theme-light, .theme-darker, .theme-midnight {
  --gogh-bg: #1A1818;
  --gogh-fg: #C9C9C9;
  --gogh-accent: #9D602A;
  --gogh-red: #A7463D;
  --gogh-green: #587744;
  --gogh-yellow: #9D602A;
  --gogh-blue: #485B98;
  --gogh-magenta: #864651;
  --gogh-cyan: #9C814F;
  /* BACKGROUNDS */
  --background-primary: #1A1818;
  --background-secondary: #191717;
  --background-secondary-alt: #181616;
  --background-tertiary: #161515;
  --background-floating: #282626;
  --background-mobile-primary: #1A1818;
  --background-mobile-secondary: #191717;
  --channeltextarea-background: #191717;
  --background-message-hover: #242323;
  --background-modifier-hover: #242323;
  --background-modifier-active: #2c2a2a;
  --background-modifier-selected: #2f2d2d;
  --background-modifier-accent: #343333;
  --scrollbar-thin-thumb: #161515;
  --scrollbar-auto-thumb: #161515;
  --scrollbar-auto-track: #191717;
  /* TEXT */
  --text-normal: #C9C9C9;
  --text-muted: #838282;
  --text-link: #9D602A;
  --text-brand: #9D602A;
  --header-primary: #C9C9C9;
  --header-secondary: #838282;
  --interactive-normal: #838282;
  --interactive-hover: #C9C9C9;
  --interactive-active: #C9C9C9;
  --interactive-muted: #696868;
  /* BRAND / ACCENT */
  --brand-experiment: #9D602A;
  --brand-experiment-500: #9D602A;
  --brand-experiment-560: #764820;
  --brand-experiment-600: #764820;
  --brand-500: #9D602A;
  --brand-560: #764820;
  --brand-600: #764820;
  /* STATUS */
  --online-color: #587744;
  --idle-color: #9D602A;
  --dnd-color: #A7463D;
  --streaming-color: #864651;
  --status-green: #587744;
  --status-yellow: #9D602A;
  --status-red: #A7463D;
  --status-purple: #864651;
}