/**
 * @name Gogh - Coffee Theme
 * @author cbitterfield (https://github.com/cbitterfield)
 * @version 1.0.0
 * @description Gogh "Coffee Theme" terminal color scheme applied to BetterDiscord.
 * @source https://github.com/Gogh-Co/Gogh
 */
/* PALETTE */
:root, .theme-dark, .theme-light, .theme-darker, .theme-midnight {
  --gogh-bg: #F5DEB3;
  --gogh-fg: #000000;
  --gogh-accent: #C91B00;
  --gogh-red: #C91B00;
  --gogh-green: #00C200;
  --gogh-yellow: #C7C400;
  --gogh-blue: #0225C7;
  --gogh-magenta: #CA30C7;
  --gogh-cyan: #00C5C7;
  /* BACKGROUNDS */
  --background-primary: #F5DEB3;
  --background-secondary: #ebd5ac;
  --background-secondary-alt: #e1cca5;
  --background-tertiary: #d3bf9a;
  --background-floating: #ffffff;
  --background-mobile-primary: #F5DEB3;
  --background-mobile-secondary: #ebd5ac;
  --channeltextarea-background: #ebd5ac;
  --background-message-hover: #ebd5ac;
  --background-modifier-hover: #ebd5ac;
  --background-modifier-active: #e4cea6;
  --background-modifier-selected: #dfcaa3;
  --background-modifier-accent: #d0bd98;
  --scrollbar-thin-thumb: #d3bf9a;
  --scrollbar-auto-thumb: #d3bf9a;
  --scrollbar-auto-track: #ebd5ac;
  /* TEXT */
  --text-normal: #000000;
  --text-muted: #625948;
  --text-link: #C91B00;
  --text-brand: #C91B00;
  --header-primary: #000000;
  --header-secondary: #625948;
  --interactive-normal: #625948;
  --interactive-hover: #000000;
  --interactive-active: #000000;
  --interactive-muted: #877a62;
  /* BRAND / ACCENT */
  --brand-experiment: #C91B00;
  --brand-experiment-500: #C91B00;
  --brand-experiment-560: #971400;
  --brand-experiment-600: #971400;
  --brand-500: #C91B00;
  --brand-560: #971400;
  --brand-600: #971400;
  /* STATUS */
  --online-color: #00C200;
  --idle-color: #C7C400;
  --dnd-color: #C91B00;
  --streaming-color: #CA30C7;
  --status-green: #00C200;
  --status-yellow: #C7C400;
  --status-red: #C91B00;
  --status-purple: #CA30C7;
}